.main-button {
    width: 470px;
    height: 70px;
    padding: 20px 30px;
    border-radius: 4px;
    padding: 20px, 54px, 20px, 54px;
    background: rgb(21, 56, 79);
    gap: 10px;
    color: #1F27F5;
    
  }

